*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}
ul,li{
    list-style: none;
}

:root{
    --primmary-color:#6f6f6f;
    --secondary-color:#bebebe;
    --border-gray-color:#343434;
    --background-gray-color:#454545;
    --strong-green-color:#2d3b09;
    --weak-green-color:#546130;
    --white-color:#ffffff;
}
.carousel{
    position: relative;
    height:100vh;
    width: 100vw;
    
}

.carousel-image{
    width: 100vw;
    height: 100vh;
    background-image: url('./assets/background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position:absolute;
    top: 0;
    bottom: 0;
}
.carousel-track-container{
    height:100%;
    width: 100%;
    position:relative;
    overflow: hidden;
}
.carousel-track{
    position: relative;
    height: 100%;
    width: 100%;
    transition:transform 500ms ease-in;
}
.carousel-slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

}
.carousel-button{
    position: absolute;
    top:50%;
    height:50px;
    width: 50px;
    z-index: 2;
    background: transparent;
    border:none;
    transform: translateY(-50%);
    cursor: pointer;
    outline: none;
}

.carousel-button-right{
    right: 50px;
    height: 40px;
    width: 40px;
    position: absolute;
    z-index: 2;
    fill:var(--white-color)
}
.carousel-button-left{
    left: 50px;
    height:40px;
    width: 40px;
    position: absolute;
    z-index: 2;
    fill:var(--white-color)
}
.carousel-nav{
    position: absolute;
    background-color: rgba(52,52,52,0.7);
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    margin: -70px 0;
}
.carousel-indicator{
    margin: 0 10px;
    border: solid 8px var(--border-gray-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background:var(--white-color);
    cursor:pointer;
    outline: none;
}
.carousel-indicator.current-slide{
    border: solid 8px var(--white-color);
    background-color: var(--weak-green-color);
}
.is-hidden{
    display: none;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow-x: hidden;
}

.container h1{
    font-weight: bold;
    font-size: 40pt;
    text-transform: uppercase;
    color:var(--weak-green-color);
    margin-top: 10px;
}

.container p{
    font-weight: bold;
    font-size: 20pt;
    color:var(--strong-green-color);
    margin-bottom: 20px;
    overflow-x: hidden;
}

.container svg{
    width: 55px;
    height: 80px;
}
.carousel-background{
    background-color: var(--background-gray-color);
    width: 100vw;
    height: 55vh;
}
.grid-container{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    grid-template-rows: 1fr;
    grid-template-areas: "left-side middle right-side";
}
.left-side{
    grid-area: left-side;
    display: flex;
    flex-direction: column;  
    width: 100%;
    height: 100%;  
}
.middle{
    grid-area: middle; 
}
.right-side{
    grid-area: right-side; 
}
.card{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    color:var(--white-color)
}
.card h3{
    text-transform: uppercase;
    text-align: center;
    width: 300px;
}
.card article{
    width: 300px;
    text-align: center;
}
.card img{
    /* align-items: center; */
    /* justify-content: center; */
    width:300px;
    height: 200px;
    border: 8px solid blue;
}