.profile{
    background-color: var(--primmary-color);
    width: 100vw;
    height: 500px;
    color:var(--white-color)
}
.profile-container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}
.profile-content{
    max-width: 680px;
    max-height: 500px;
}
.profile-content .title{
    text-transform: uppercase;
    font-weight: bold;
}
.profile-content article {
    margin:30px 0;
}
.bold-article{
    font-weight: bold;
}
.italic-article{
    font-style: italic;
}

.profile-image img{
    width: 31.25rem;
    height: 28.125rem;
    border-radius: 50%;
    border: 15px solid var(--border-gray-color);
    margin-left: 100px;
    margin-right: 10px;
}
@media only screen and (max-width:1180px){
    .profile{
        height: 1100px;        
    }
    .profile-container{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .profile-image{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
    .profile-image img{
        width: 350px;
        height:350px ;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .profile-content .title{
        font-size: 25pt;
    }
    .profile-content{
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    .profile-content article{
        text-align: center;
    }
}