*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 400;
    
}
html{
    scroll-behavior: smooth;
}
ul,li{
    list-style: none;
}
input{
    border:none
}
body{
    overflow-x: hidden;
}
:root{
    --primmary-color:#6f6f6f;
    --secondary-color:#bebebe;
    --border-gray-color:#343434;
    --background-gray-color:#454545;
    --strong-green-color:#2d3b09;
    --weak-green-color:#546130;
    --white-color:#ffffff;
    --black-color:#000000;
}
.carousel{
    position: relative;
    height:100vh;
    width: 100vw;
}

.carousel-image{
    width: 100vw;
    height: 100vh;
    background-image: url('./assets/background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position:absolute;
    top: 0;
    bottom: 0;
}
.carousel-track-container{
    height:100%;
    width: 100%;
    position:relative;
    overflow: hidden;
}
.carousel-track{
    position: relative;
    height: 100%;
    width: 100%;
    transition:transform 500ms ease-in;
}
.carousel-slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.carousel-slide-grid{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.carousel-button{
    position: absolute;
    top:50%;
    height:50px;
    width: 50px;
    z-index: 2;
    background: transparent;
    border:none;
    transform: translateY(-50%);
    cursor: pointer;
    outline: none;
}
.carousel-track-grid{
    position: relative;
    height: 100%;
    width: 100%;
    transition:transform 500ms ease-in;
}
.carousel-button-right{
    right: 50px;
    height: 40px;
    width: 40px;
    position: absolute;
    z-index: 2;
    fill:var(--white-color)
}
.carousel-button-left{
    left: 50px;
    height:40px;
    width: 40px;
    position: absolute;
    z-index: 2;
    fill:var(--white-color)
}
.carousel-nav{
    position: absolute;
    background-color: rgba(52,52,52,0.7);
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    margin: -70px 0;
}
.carousel-indicator{
    margin: 0 10px;
    border: solid 8px var(--border-gray-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background:var(--white-color);
    cursor:pointer;
    outline: none;
}
.carousel-indicator.current-slide{
    border: solid 8px var(--white-color);
    background-color: var(--weak-green-color);
}
.is-hidden{
    display: none;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow-x: hidden;
}

.container h1{
    font-weight: bold;
    font-size: 40pt;
    text-transform: uppercase;
    color:var(--weak-green-color);
    margin-top: 10px;
}

.container p{
    font-weight: bold;
    font-size: 20pt;
    color:var(--strong-green-color);
    margin-bottom: 20px;
    overflow-x: hidden;
}

.container svg{
    width: 55px;
    height: 80px;
}
.carousel-background{
    background-color: var(--background-gray-color);
    width: 100vw;
    height: 500px;
    position: relative;
}
.grid-container{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    grid-template-rows: 1fr;
    grid-gap:45px;
    grid-template-areas: "left-side middle right-side";
    position:absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.left-side{
    grid-area: left-side;
}
.middle{
    grid-area: middle; 
}
.right-side{
    grid-area: right-side; 
}
.card{
    height: 100%;
    color:var(--white-color);
    margin-top: 50px;
}
.card-left-side{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.card-middle-side{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-right-side{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.card img{
    width:300px;
    height: 200px;
    border: 8px solid var(--primmary-color);
}
.card h3{
    text-transform: uppercase;
    text-align: center;
    width: 300px;
    font-weight: bold;
    font-size: 18pt;
    padding:10px 0;
}
.card article{
    width: 300px;
    text-align: center;
}

.profile{
    background-color: var(--primmary-color);
    width: 100vw;
    height: 500px;
    color:var(--white-color)
}
.profile-container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}
.profile-content{
    max-width: 680px;
    max-height: 500px;
}
.profile-content .title{
    text-transform: uppercase;
    font-weight: bold;
}
.profile-content article {
    margin:30px 0;
}
.bold-article{
    font-weight: bold;
}
.italic-article{
    font-style: italic;
}

.profile-image img{
    width: 31.25rem;
    height: 28.125rem;
    border-radius: 50%;
    border: 15px solid var(--border-gray-color);
    margin-left: 100px;
    margin-right: 10px;
}

.accordion-page{
    width:100vw;
    height:auto;
    padding-bottom: 50px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    
}
.accordion{
    background-color: var(--primmary-color);
    width: 80vw;
    height: fit-content;
    margin-top: 50px;
}

.accordion-label, .accordion-content{
    padding: 14px 20px;
}
.accordion-label{
    height: 100%;
    padding: 20px 0;
    padding-left: 20px;
    display: block;
    color:var(--white-color);
    cursor: pointer;
    position:relative;
    transition:background 0.1s;
    font-weight: bold;
    font-size: 15pt;
}
.accordion-label:hover{
    background: rgba(52,52,52,0.7);
}
.accordion-label::after{
    content:'';
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    right:20px;
    width: 50px;
    height: 25px;
    background-image: url('./assets/arrow-down.svg');
    background-size: auto;
    background-repeat: no-repeat;
    color:var(--white-color);
    transition: transform 0.4s;
}

.accordion-content{
    background-color: var(--white-color);
    line-height: 1.6;
    display: none;
}
.accordion-content img{
    width:300px;
    height: 200px;
    border: 8px solid var(--primmary-color);
}
.accordion-content p {
    max-width: 800px;
}
.accordion-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.accordion-input{
    display: none;
    
}
.accordion-input:checked ~ .accordion-content{
    display: block;
}
.accordion-input:checked ~ .accordion-label::after{
    
     content:'';
     position:absolute;
     top:50%;
     transform:translateY(-50%);
     right:20px;
     width: 50px;
     height: 25px;
     background-image: url('./assets/arrow-top.svg');
     background-size: auto;
     background-repeat: no-repeat;
     color:var(--white-color);
     transition: transform 0.4s;
}
.accordion-input:checked ~ .accordion-label{
    background-color: var(--white-color);
    color:var(--primmary-color);
}
.accordion-input:checked ~ .accordion-label:first-child:hover{
   
}
.border{
    border-radius: 20px;
}
.border-top{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px ;
}
.border-bottom{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px ;
}

.email-page{
    width:100vw;
    height: 500px;
    background-color: var(--primmary-color);
    background-image: url('./assets/email-background.jpg');
    background-size: 100% 600px;
    background-repeat: round;
    top: 0;
    left: 0;
    position: relative;
}
.email-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.email-name{
    width: 80%;
    background-color: var(--secondary-color);
    align-items: center;
    padding:20px 0;
    border-radius: 10px;
    margin:20px 0;
}
.email-span{
    color:var(--black-color);
    font-weight: bold;
    padding-left: 20px;
}
.email-name input{
    background: transparent;
    cursor:text;
    width: 90%;
    margin-left: 10px;
    font-size: 12pt;
    outline: none;
    color:var(--background-gray-color)
}
.email-container-flex{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;
}
.email-contact{
    background-color: var(--secondary-color);
    align-items: center;
    padding:20px 0;
    border-radius: 10px;
    width:48%
}
.email-contact input{
    background: transparent;
    cursor:text;
    width: 80%;
    margin-left: 10px;
    font-size: 12pt;
    outline: none;
    color:var(--background-gray-color)
}
.email-phone{
    background-color: var(--secondary-color);
    align-items: center;
    padding:20px 0;
    border-radius: 10px;
    width:48%
}
.email-phone input{
    background: transparent;
    cursor:text;
    width: 70%;
    margin-left: 10px;
    font-size: 12pt;
    outline: none;
    color:var(--background-gray-color)
}
.text-area-mensage{
    width: 80%;
    background-color:var(--secondary-color);
    border-radius: 10px;
    display: flex;
}
.text-area-mensage span{
    
    text-align: start;
}
.text-area-mensage  textarea{
    width: 90%;
    height: 80%;
    padding-top: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 12pt;
    color:var(--background-gray-color)
}
.text-area-mensage span{
    color:var(--black-color);
    font-weight: bold;
    padding-left: 20px;
    padding-top: 20px;
}
.submit-button{
    padding: 20px 40px;
    text-transform: uppercase;
    font-weight: bold;
    color:var(--black-color);
    background-color: var(--white-color);
    border:none;
    margin-top: 20px;
    border-radius: 10px;
    cursor:pointer;
}
.submit-button:hover{
   background-color: var(--secondary-color);
   transition: ease-in .2s;
}

.footer{
    width: 100vw;
    height: 100px;
    background-color: var(--border-gray-color);
    color:var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
